.cart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  --dm-on: #000;
  --dm-off: #fff;
  background-color: var(--dm-off);
}

.items-container {
  flex-basis: 70%;
}

.remove-btn {
  color: #ff4949;
  background-color: transparent;
  font-size: 25px;
  border: none;
  border-bottom: 1px solid var(--dm-on);
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px #000);
  transition: filter 0.5s;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.remove-btn:hover {
  filter: drop-shadow(0 0 1px var(--dm-on));
}

.order-container {
  flex-basis: 30%;
  box-sizing: border-box;
  border-left: 1px solid var(--dm-on);
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  height: 80vh;
  color: var(--dm-on);
}

.order-info {
  width: 60%;
  text-align: left;
}

.order-buy-bg {
  background-color: #000;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*order btn buy*/

.order-buy-btn {
  cursor: pointer;
  --green: #1bfd9c;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.order-buy-btn:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.order-buy-btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.order-buy-btn:hover:before {
  transform: translateX(15em);
}

/*order btn buy end*/

.cart-title {
  height: 10vh;
  padding: 0;
  margin: 0;
  width: 100%;
  color: var(--dm-on);
}

.cart-msg {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dm-on);
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--dm-on);
  padding: 5px 10px;
  height: 20vh;
  color: var(--dm-on);
}

.cart-item-img {
  height: 100%;
  width: 10vw;
  object-fit: scale-down;
}

/*Delete cart*/

.cart-delete {
  height: calc(10vh - 10px);
  margin: 5px 0;
  position: absolute;
  right: 5vw;
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #ff4949;
  border: none;
  border-radius: 5px;
}

.cart-delete .cart-delete-text {
  transform: translateX(35px);
  color: #fff;
  font-weight: bold;
}

.cart-delete .cart-delete-icon {
  position: absolute;
  transform: translateX(150px);
  height: 30px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.cart-delete svg {
  width: 15px;
  fill: #fff;
}

.cart-delete:hover .cart-delete-text {
  color: transparent;
}

.cart-delete:hover .cart-delete-icon {
  width: 200px;
  transform: translateX(0);
}

/*delete cart end*/

/*back btn*/

.cart-back-btn {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background-color: #77acf1aa;
  position: absolute;
  left: 5vw;
  top: 10vh;
  margin: 5px 0;
  height: calc(10vh - 10px);
  color: var(--dm-on);
}

.cart-back-btn > .cart-back-icon {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
  color: var(--dm-on);
}

.cart-back-btn:hover > .cart-back-icon {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.cart-back-btn:hover {
  box-shadow: 9px 9px 33px var(--dm-off), -9px -9px 33px var(--dm-off);
  transform: translateY(-2px);
}

/*cart back end*/

body.dark .cart-container {
  --dm-on: #fff;
  --dm-off: #000d;
}
