@media screen and (max-width: 1000px) {
  .item {
    height: 40vh;
  }
}

@media screen and (max-width: 800px) {
  .item {
    width: 30vw;
  }
}

@media screen and (max-width: 500px) {
  .item {
    height: 30vh;
    width: 70vw;
  }
}
