.about {
  border-top: 1px solid #000;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dm-off);
}

.about-img-container {
  flex-basis: 50%;
  margin: 0 10%;
  height: 100vh;
  background-color: #000;
  z-index: 10;
}

.about-img {
  width: 100%;
  height: 90%;
  margin: 5% 0;
  object-fit: cover;
  position: relative;
}

.about-info {
  flex-basis: 50%;
}

.about-title {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 50%;
  width: 50%;
  z-index: 1;
  height: 10vh;
  text-align: center;
  width: 100%;
}

.about-text {
  text-align: left;
  line-height: 1.5;
  margin: 10px 40px 10px 0;
}

body.dark .about {
  background-color: #000;
  color: #fff;
}
