@media screen and (max-width: 1000px) {
  .nav-title {
    font-size: 4vh;
  }
  .nav-item {
    font-size: 2vh;
    padding: 5px 5px;
  }

  .nav-list {
    padding: 0;
  }

  .cart-widget {
    margin-right: 20px;
  }

  .switch {
    max-width: 70px;
  }

  input:checked + .slider:before {
    transform: translateX(35px);
  }
}

@media screen and (max-width: 700px) {
  .nav-container {
    justify-content: space-between;
    position: relative;
    z-index: 50;
  }

  .nav-title {
    font-size: 4vh;
  }

  .nav-item {
    font-size: 2vh;
    padding: 5px 5px;
  }

  .nav-list {
    padding: 10px 0;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    background-color: #77acf1aa;
    justify-content: space-evenly;
    position: absolute;
    top: 10vh;
    margin: 0;
    transform: translateY(-110%);
  }

  .nav-item {
    width: 80%;
  }

  .show {
    transform: translateY(0);
  }

  .cart-widget {
    margin-right: 20px;
  }

  .switch {
    position: absolute;
    width: 100%;
    right: 20vw;
  }

  .nav-menu-icon {
    pointer-events: none;
    width: 10vw;
    height: 10vw;
  }

  .nav-menu-btn {
    display: inline-block;
    position: absolute;
    left: 45vw;
    color: #000;
  }

  .nav-menu-btn:hover {
    color: #f00;
  }

  body.dark .nav-menu-btn {
    color: #fff;
  }
}

@media screen and (max-width: 300px) {
  .switch {
    position: absolute;
    width: 30px;
    right: 20vw;
  }

  input:checked + .slider:before {
    transform: translateX(5px);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }

  .nav-menu-btn {
    display: inline-block;
    position: absolute;
    left: 55vw;
    color: #000;
  }
}
