.nav-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  --dm-on: #000;
  --dm-off: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1274%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1275)'%3e%3c/rect%3e%3cpath d='M1440 0L1006.52 0L1440 171.89z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1006.52 0L1440 171.89L1440 356.52L988.24 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M988.24 0L1440 356.52L1440 406.45L576.69 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M576.69 0L1440 406.45L1440 413.99L246.11000000000007 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L173.11 560L0 422.52z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 422.52L173.11 560L845.0600000000001 560L0 246.1z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 246.10000000000002L845.0600000000001 560L1159.52 560L0 106.02000000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 106.01999999999998L1159.52 560L1233.67 560L0 48.29999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1274'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1275'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(119%2c 172%2c 241%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

/*Title*/

.nav-title {
  margin: 0 0 0 2.5vw;
  --border-right: 6px;
  --text-stroke-color: var(--dm-on);
  --animation-color: var(--dm-on);
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 5vh;
  font-family: "Arial";
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
  border-radius: 10px;
}

.nav-title:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/*Title end*/

.nav-list {
  flex-basis: 60%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.nav-menu-btn {
  display: none;
}

/*category btn*/

.nav-item {
  font-size: 2.5vh;
  background-color: #77acf1aa;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  color: var(--dm-on);
}

ul li {
  list-style: none;
}

.nav-item:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.nav-item:hover {
  color: var(--dm-off);
  border: 1px solid var(--dm-on);
}

.nav-item:hover:before {
  top: -35%;
  background-color: var(--dm-on);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*category btn end*/

.cart-widget {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
}

.cart-container-icon {
  position: relative;
}

.cart-icon {
  width: 5vh;
  height: 5vh;
  color: var(--dm-on);
}

.cart-icon:hover .cart-num:hover {
  animation: shake3856 1s linear infinite both;
}

/*Cart number widget*/

.cart-num {
  font-size: 2vh;
  display: flex;
  justify-content: center;
  width: 3vh;
  height: 3vh;
  background-color: #1bfd9c;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid #000;
  user-select: none;
  color: #000;
}

.cart-num:hover {
  animation: shake3856 1s linear infinite both;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/*Cart number widget end*/

/*dark mode*/
.switch {
  flex-basis: 10%;
  font-size: 17px;
  position: relative;
  display: inline-block;
  max-width: 80px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
}

.slider {
  --background: #000;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #fff;
}

input:checked + .slider:before {
  transform: translateX(45px);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

body.dark .nav-container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1240%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1241)'%3e%3c/rect%3e%3cpath d='M1440 0L1006.52 0L1440 171.89z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1006.52 0L1440 171.89L1440 356.52L988.24 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M988.24 0L1440 356.52L1440 406.45L576.69 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M576.69 0L1440 406.45L1440 413.99L246.11000000000007 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L173.11 560L0 422.52z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 422.52L173.11 560L845.0600000000001 560L0 246.1z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 246.10000000000002L845.0600000000001 560L1159.52 560L0 106.02000000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 106.01999999999998L1159.52 560L1233.67 560L0 48.29999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1240'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1241'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(119%2c 172%2c 241%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  --dm-on: #fff;
  --dm-off: #000;
}
