.footer {
  background-color: var(--dm-on);
  border-top: 1px solid var(--dm-on);
  color: var(--dm-off);
  padding: 20px 0;
  --dm-on: #fff;
  --dm-off: #000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1274%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1275)'%3e%3c/rect%3e%3cpath d='M1440 0L1006.52 0L1440 171.89z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1006.52 0L1440 171.89L1440 356.52L988.24 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M988.24 0L1440 356.52L1440 406.45L576.69 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M576.69 0L1440 406.45L1440 413.99L246.11000000000007 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L173.11 560L0 422.52z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 422.52L173.11 560L845.0600000000001 560L0 246.1z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 246.10000000000002L845.0600000000001 560L1159.52 560L0 106.02000000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 106.01999999999998L1159.52 560L1233.67 560L0 48.29999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1274'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1275'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(119%2c 172%2c 241%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.footer-container {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.footer-social-container {
  flex-basis: 50%;
  margin-left: 10vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  max-height: 7vh;
}

.social-icon {
  width: 30px;
  height: 30px;
  transition: all 0.2s;
  border-bottom: 1px solid var(--dm-off);
}

.social-icon:hover {
  border-bottom: 10px solid var(--dm-off);
  transform: translateY(-5px);
  color: var(--dm-on);
  filter: drop-shadow(0 3px 1px var(--dm-off));
}

.footer-mail-container {
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 10vw 0 10px;
  border-radius: 10px;
  border: 2px solid var(--dm-off);
  background-color: var(--dm-on);
}

.footer-mail {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mail-icon {
  width: 3vw;
  height: 3vw;
  margin: 10px;
}

.footer-subtitle {
  width: 100%;
  font-size: 15px;
}

.social-link:visited,
.social-link:link {
  color: var(--dm-off);
}

.footer-copy {
  color: var(--dm-off);
}

body.dark .footer {
  --dm-on: #000;
  --dm-off: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1240%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1241)'%3e%3c/rect%3e%3cpath d='M1440 0L1006.52 0L1440 171.89z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1006.52 0L1440 171.89L1440 356.52L988.24 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M988.24 0L1440 356.52L1440 406.45L576.69 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M576.69 0L1440 406.45L1440 413.99L246.11000000000007 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L173.11 560L0 422.52z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 422.52L173.11 560L845.0600000000001 560L0 246.1z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 246.10000000000002L845.0600000000001 560L1159.52 560L0 106.02000000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 106.01999999999998L1159.52 560L1233.67 560L0 48.29999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1240'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1241'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(119%2c 172%2c 241%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
