@media screen and (max-width: 800px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-social-container,
  .footer-mail-container {
    margin: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .footer-mail-container {
    border-radius: 0;
  }
}

@media screen and (max-width: 300px) {
  .footer-mail {
    flex-direction: column;
  }

  .btn-send-mail {
    margin: 20px 0;
  }

  .mail-icon {
    display: none;
  }
}
