.item-count {
  width: 200px;
  margin: 0 auto;
  --dm-on: #000;
  --dm-off: #fff;
}

.item-count-container {
  border-top: 1px solid var(--dm-on);
  border-left: 1px solid var(--dm-on);
  border-right: 1px solid var(--dm-on);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #77acf1aa;
  color: #fff;
}

.increment-btn,
.decrement-btn {
  display: block;
  width: 30px;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}

.increment-btn:active,
.decrement-btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #fff;
}

.add-on {
  background-color: #0002;
  display: block;
  cursor: pointer;
  --color: var(--dm-on);
  padding: 0.8em 1.7em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.add-on::before,
.add-on::after {
  content: "";
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
  background-color: var(--color);
  transition: 0.5s ease;
}

.add-on::before {
  top: -1em;
  left: -1em;
}

.add-on::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.add-on:hover::before,
.add-on:hover::after {
  height: 410px;
  width: 410px;
}

.add-on:hover {
  color: var(--dm-off);
}

.add-on:active {
  filter: brightness(0.8);
}

body.dark .item-count {
  --dm-on: #fff;
  --dm-off: #000;
}
