.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
}

.nav-title {
  margin: 0;
  flex-basis: 20%;
  background-color: #fff;
}

.nav-list {
  flex-basis: 80%;
  display: flex;
  justify-content: space-around;
  border-left: 1px solid #000;
  border-radius: 10px;
}

.nav-item {
  background-color: #fff;
  position: relative;
  text-align: left;
  margin: 0;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 10px;
}

.nav-item::before {
  content: "";
  width: 200%;
  position: absolute;
  border-bottom: 1px solid #000;
  top: 50%;
  left: -200%;
  z-index: -1;
}

nav ul li {
  list-style: none;
}
